:root {
  --primary-orange: hsl(12, 88%, 59%);
  --primary-blue: hsl(228, 39%, 23%);
  --glow-orange: hsl(12, 100%, 50%);
  --dark-gray: hsl(233, 12%, 13%);
  --neutral-orange: hsl(13, 100%, 96%);
  --neutral-grey: hsl(0, 0%, 98%);
  --text-color: hsla(0, 0%, 39%, 0.5);
  --transition-fast: all 0.1s ease-in-out;
  --transition-medium: all 0.15s ease-in-out;
  --transition-slow: all 0.25s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
}

button {
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 600;
}

li {
  list-style: none;
  color: var(--primary-blue);
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: var(--neutral-grey);
  padding: 15px 30px;
  font-size: 13px;
  color: var(--primary-blue);
  border-radius: 25px;
  font-family: inherit;
}

.box-nav-links {
  width: 90%;
  background: #fff;
  position: fixed;
  top: 80px;
  left: 20px;
  border-radius: 15px;
  box-shadow: 0 20px 50px -10px var(--dark-gray);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-medium);
}

.nav-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
}

.box-nav-active {
  opacity: 1;
  pointer-events: all;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-blue);
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 25px;
}

.img-logo {
  width: 120px;
}

.img-nav-icon {
  width: 25px;
}

.btn-nav {
  display: none;
}

.btn-nav-active {
  display: inline;
}

.section {
  width: 100vw;
  padding: 100px 25px;
}

.img-illustrations {
  width: 100%;
}

.about {
  text-align: center;
}

.heading-section {
  margin-bottom: 20px;
}

.text-section {
  font-family: 14px;
  color: var(--text-color);
}

.btn-bg-orange {
  background: var(--primary-orange);
  color: #fff;
}

.btn-bg-white {
  background: #fff;
  color: var(--primary-orange);
}

.btn-section {
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
}

.btn-shadow-orange {
  box-shadow: 0px 10px 30px -10px var(--glow-orange);
}

.btn-shadow-white {
  box-shadow: 0px 10px 30px -10px #fff;
}

.span-label {
  margin-top: 0;
  padding: 10px 20px;
  font-size: 14px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.heading-feature {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 15px;
  display: inline;
}

.feature-label {
  width: 120%;
  background: var(--neutral-orange);
  padding: 10px 0;
  border-radius: 30px;
}

.text-feature {
  margin-top: 15px;
  font-size: 14px;
}

.img-icon-slide {
  width: 20px;
}

.img-user {
  width: 60px;
}

.reviews {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: var(--neutral-grey);
  height: 300px;
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition-slow);
}

.review-box {
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  gap: 30px;
  min-width: 90%;
  max-width: 90%;
  height: 300px;
  position: relative;
}

.review-1 {
  transform: translateX(0);
}
.review-2 {
  transform: translateX(110%);
}
.review-3 {
  transform: translateX(220%);
}
.review-4 {
  transform: translateX(330%);
}

.slide-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot-slide {
  width: 15px;
}

.btn-block-middle {
  display: block;
  margin: 50px auto;
}

.call-to-action,
.footer {
  width: 100%;
  padding: 100px 25px;
  background: var(--primary-orange);
  text-align: center;
}

.heading-cta {
  color: #fff;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer {
  background: var(--primary-blue);
  text-align: initial;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-link-footer {
  color: var(--neutral-grey);
  padding: 10px 0;
  font-weight: initial;
  text-align: left;
  font-size: 14px;
}

.btn-form {
  margin: 0;
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.img-icon-social {
  width: 35px;
}

.img-logo-footer {
  width: 200px;
}
